*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}


:root{
  --softBlue: #5368df;
  --softRed: #F95656;
  --grayishBlue: #9194a1;
  --veryDarkBlue: #252b46;
  --lightGRay: #e5e5e5;
  --coolGray:#9093A1;
}

