*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* /* :root {
    --soft-blue: #5267df;
    --soft-red: rgb(249, 86, 86);
    --grayish-blue: );rgb(144, 147, 161
    --very-dark-blue: rgb(36, 43, 70);
  } */
